<h1>Database Migrations</h1>
<div dtx-name="results" class="btn-danger">
	<h3>Results</h3>
</div>
<a href="migrations/run/" class="btn btn-danger">Run Migrations</a>
<div>
	<h3>The following migrations need to be run (UP)</h3>
	<ul dtx-name="migrationsToRunUpList"></ul>

	<h3>The following migrations need to be run (DOWN)</h3>
	<ul dtx-name="migrationsToRunDownList"></ul>

	<h3>These migrations have already run</h3>
	<ul dtx-name="migrationsAlreadyRunList"></ul>
</div>

<_MigrationRowUp>
	<li>
		$migration
		<form method="post" action="migrations/runsingle/up/" style="display:inline-block">
			<input type="hidden" name="migration" value="$migration" />
			<input type="hidden" name="direction" value="up" />
			<input type="submit" value="Run (Up)" class="btn btn-danger" />
		</form>
	</li>
</_MigrationRowUp>
<_MigrationRowDown>
	<li>
		$migration
		<form method="post" action="migrations/runsingle/down/" style="display:inline-block">
			<input type="hidden" name="migration" value="$migration" />
			<input type="hidden" name="direction" value="down" />
			<input type="submit" value="Run (Down)" class="btn btn-danger" />
		</form>
	</li>
</_MigrationRowDown>


<_Results>
	<h5>$name</h5>
	<pre dtx-name="output"></pre>
</_Results>

<_ResultsDisplay>
	<br /><strong>Statement</strong>
	<br /><code>$statement</code>
	<br /><strong>Result: <code>$result</code></strong>
	<br />
</_ResultsDisplay>